version: "2.3"

services:

  # ROS Master
  ros-master:
    image: ros:noetic-ros-core
    restart: on-failure
    command: stdbuf -o L roscore

  # ROS 1 talker
  talker:
    build:
      dockerfile: ros_talker.Dockerfile
      context: ./
    restart: on-failure
    environment:
      - "ROS_MASTER_URI=http://ros-master:11311"
    command: rosrun roscpp_tutorials talker

  # ROS Bridge Websocket
  rosbridge-ws:
    build:
      dockerfile: rosbridge_ws.Dockerfile
      context: ./
    restart: on-failure
    environment:
      - "ROS_MASTER_URI=http://ros-master:11311"
    command: roslaunch rosbridge_server rosbridge_websocket.launch
    expose:
     - 9090
    labels:
      - "traefik.protocol=ws"
      - "traefik.http.routers.rosbridge-ws.rule=Host(`talker-over-rosbridge-ws`)"
      - "traefik.port=9090"

  # nginx webserver
  # - hosting index.html and index.js at :80
  webserver:
    build:
      dockerfile: webserver.Dockerfile
      context: ./
    restart: on-failure
    expose:
     - 80
    labels:
      - "traefik.http.routers.webserver.rule=Host(`talker-over-rosbridge-ws`)"
      - "traefik.port=80"

  reverse-proxy:
    image: traefik:v2.5
    command: --api.insecure=true --providers.docker
    network_mode: service:husarnet-talker
    # ports:
    #   - "9090:9090"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # Husarnet
  husarnet-talker:
    image: husarnet/husarnet
    volumes:
      - /var/lib/husarnet  # This will persist your Husarnet Client keys, thus IP of the container will be stable/the same between (re)boots
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0  # Husarnet is using IPv6 for the internal connections
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      - HOSTNAME=talker-over-rosbridge-ws
    env_file:
      - ./.env  # create .env file in the same folder